body{
    background-color: #ffffff;
}

#main-div{
    width:100%;
    height:100%;
    padding:5% 10% 10% 10%;
}

#main-content{
    
}

.main {
    
}

@media print{
    .col-lg-2 {
        width: 16%;
    }
    .col-lg-5 {
        width: 42%;
    }
}
